venv
.idea
.ipynb_checkpoints
.vs
__pycache__
tmp/
video/
models/

# Data
test_set/
train_set/
test_set
train_set
data/train
data/test
data/example
data/
test_results/
other/

# Other
postprocess.py
other.py
tusimple_ipm_remap.yml